* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a4e9f3a4;
    color: #000000fa;
}

header {
    background-color: #006B78;
    color: yellow;
    padding: 20px;
    text-align: center; 
}

img {
    height: 300px;
    object-fit: cover;
    width: 300px;
}

.frozen {
    filter: hue-rotate(-60deg) saturate(10) blur(1px) drop-shadow(1px 1px 8px #00bec4) drop-shadow(-1px -1px 8px #00bec4);
}

.divImp {
    padding: 10px;
    padding-bottom: 15px;
    border: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
    background-color: aquamarine;
    width: 80%;
    justify-self: center;
}

#interaction {
    justify-self: center; 
    justify-content: center; 
    background-color: #006B78; 
    width: 102.7%; 
     margin-bottom: -1.7%;
}

.move {
    margin: 5px;
    font-size:x-large;
}

#entrada {
    clear:both;
    margin-bottom: 20px;
    font-size: 30px;
    width: 5em;
    height: 3em;
    text-align:center;
    border-radius: 10px;
    display: none;
    outline: none;
}

button {
    font-size: 200%;
    font-weight: bold;
    border-radius: 20px;
    width: 10em;
    height: 2em;
    outline: none;    
}

button:hover {
    cursor: pointer;
    background-color: gray;
}

#next {
    display: none; 
    font-size: large; 
    border-radius: 10px; 
    width: 30%; 
    background-color: #00ABBF;
}

footer {
    margin-top: 10px;
    background-color: #050005a4;
    color: #ffeded25;
    text-align: center;
    padding: 10px;
    width: 100%; 
}